@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;                /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Background track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5cc;       /* Scroll thumb color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;          /* On hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b5b5b5 #f1f1f1;
}

/* body {
  background-image: url("/bg.jpeg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
} */
 /* html {
  filter: contrast(1.3) sepia(0.6) saturate(0.8) brightness(1.1);
  background: #201a12;
  image-rendering: pixelated;
} */
